### Innorar archivos de configuracion del ide
.gitignore
.vscode
backups
registraduria/src/main/java/com/empresa/registraduria/app/Principal.java


### Archivos de configuracion de la base de datos
registraduria/src/main/resources/META-INF/persistence.xml